<div class="we-product-grid-container"
     data-sly-use.list="com.aplyca.julio.core.models.ProductGrid"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html">
    <ul data-sly-list.listItem="${list.listItems}" class="foundation-ordered-list-container">
<!--/* 
        <sly data-sly-resource="${ '{0}/jcr:content' @ format=[listItem.path], resourceType='weretail/components/content/productgrid/item' }"></sly>
*/-->
    </ul>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=list.listItems.size == 0}"/>